 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row first-row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>HBaseCon (founded in 2012) is the premier conference for the <a href="https://hbase.apache.org">Apache HBase</a>
                     community—including committers/contributors, developers, operators, learners, and users (including some of those
                     managing the largest deployments in the world). If you run Apache HBase in production or aspire to do so, HBaseCon
                     has no substitute!</p>

                    <p>PhoenixCon (founded in 2016) is the leading event covering <a href="https://phoenix.apache.org">Apache Phoenix</a>.
                    PhoenixCon is the best venue in which to learn something new or share real-life stories about Phoenix.</p>

                    <p>2018 is the first year in which both HBaseCon and PhoenixCon will be held in the same venue and on the same day.
                    This is specifically designed to maximize the value that attendees will receive from speakers about both HBase
                    and Phoenix. This event is also scheduled for the same week as the DataWorks Summit; attendees are encouraged to consider
                    attendance to all events!</p>

                    <p><a href="https://hbase.apache.org">Apache HBase</a> is a native distributed data store for the Apache Hadoop
                     ecosystem. <a href="https://phoenix.apache.org">Apache Phoenix</a> enables OLTP and operational analytics in Hadoop for low
                    latency applications by combining the power of standard SQL and JDBC APIs with the flexibility of late-bound, schema-on-read
                    capabilities from the HBase world. These two communities work independently within the ASF to provide their respective software
                    under the permissive Apache license.</p>
                </div>
            </div>
        </div>
    </section>
