 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row first-row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>PhoenixCon (founded in 2016) is the leading event covering <a href="https://phoenix.apache.org">Apache Phoenix</a>.
                    PhoenixCon is the best venue in which to learn something new or share real-life stories about Phoenix.</p>

                    <p>This year, PhoenixCon will take place on the Monday of the
                    <a href="https://dataworkssummit.com/san-jose-2018/">DataWorks Summit San Jose 2018</a> at the
                    <a href="https://www.sanjose.org/convention-center">San Jose Convention Center</a>.
                    Of note, HBaseCon  will be held in the same venue on the same day. We will make it so that attendees will be
                    able to pass freely between the two events. As the DataWorks Summit is happening this same week, attendees
                    are encouraged to consider attending all events!</p>

                    <p><a href="https://phoenix.apache.org">Apache Phoenix</a> enables OLTP and operational analytics in Hadoop for low
                    latency applications by combining the power of standard SQL and JDBC APIs with the flexibility of late-bound, schema-on-read
                    capabilities from the HBase world. Its community works independently within the ASF to provide their respective software
                    under the permissive Apache license.</p>
                </div>
            </div>
        </div>
    </section>
