<!-- Agenda Section -->
<section class="success" id="agenda">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Agenda</h2>
           </div>
       </div>
       <p/>
       <div class="row speaker-text">
           <div class="col-md-5">
             <div class="agenda-box">
               <p class="agenda-title">HBase Practice at XiaoMi</p>
               <p class="agenda-speakers">Speakers: Zheng Hu, Jingyun Tian</p>
             </div>
           </div>
           <div class="col-md-5" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">HBase at HubSpot: from FireFighters to Farmers</p>
               <p class="agenda-speakers">Speakers: Kahlil Oppenheimer, Graham Baecher</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-5">
           <div class="col-sm-6">
             <img src="img/speakers/ZhengHu.jpg" alt="Zheng Hu" />
           </div>
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Jingun Tian" />
           </div>
         </div>
         <div class="col-md-5" style="float: right">
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Kahlil Oppenheimer" />
           </div>
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Graham Baecher" />
           </div>
         </div>
       </div>
       <hr/>

       <div class="row speaker-text">
           <div class="col-md-5">
             <div class="agenda-box">
               <p class="agenda-title">Waiting for Two-Dot-Oh</p>
               <p class="agenda-speakers">Speaker: Michael Stack</p>
             </div>
           </div>
           <div class="col-md-5" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Me to We : Moving to a Multi Tenant HBase Cluster</p>
               <p class="agenda-speakers">Speaker: Biju Nair</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-5">
           <div class="col-sm-12">
             <img src="img/speakers/Missing.png" alt="Michael Stack" />
           </div>
         </div>
         <div class="col-md-5" style="float: right">
           <div class="col-sm-12">
             <img src="img/speakers/Missing.png" alt="Biju Nair" />
           </div>
         </div>
       </div>
       <hr/>

       <div class="row speaker-text">
           <div class="col-md-5">
             <div class="agenda-box">
               <p class="agenda-title">Bringing Read-Replica into production</p>
               <p class="agenda-speakers">Speakers: Lei Chen, Cesar Delgado, Huaxiang Sun</p>
             </div>
           </div>
           <div class="col-md-5" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Improving HBase reliability at Pinterest with geo-replication and efficient backup</p>
               <p class="agenda-speakers">Speakers: Chenji Pan, Lianghong Xu</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-5">
           <div class="col-sm-4">
             <img src="img/speakers/LeiChen.png" alt="Lei Chen" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Cesar Delgado" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Huaxiang Sun" />
           </div>
         </div>
         <div class="col-md-5" style="float: right">
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Chenji Pan" />
           </div>
           <div class="col-sm-6">
             <img src="img/speakers/LianghongXu.png" alt="Lianghong Xu" />
           </div>
         </div>
       </div>
       <hr/>

       <div class="row speaker-text">
           <div class="col-md-5">
             <div class="agenda-box">
               <p class="agenda-title">Columnar HBase for Translytical Workloads</p>
               <p class="agenda-speakers">Speaker: John Leach</p>
             </div>
           </div>
           <div class="col-md-5" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Scaling HBase with Zero Downtime</p>
               <p class="agenda-speakers">Speakers: Scott Wilson</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-5">
           <div class="col-sm-12">
             <img src="img/speakers/JohnLeach.jpg" alt="John Leach" />
           </div>
         </div>
         <div class="col-md-5" style="float: right">
           <div class="col-sm-12">
             <img src="img/speakers/ScottWilson.jpg" alt="Scott Wilson" />
           </div>
         </div>
       </div>
   </div>
</section>
