<!-- Agenda Section -->
<section class="success" id="agenda">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Agenda</h2>
           </div>
       </div>
       <p/>
       <div class="row speaker-text">
           <div class="col-md-6">
             <div class="agenda-box">
               <p class="agenda-title">Applications of HBase/Phoenix at 23andMe</p>
               <p class="agenda-speakers">Speakers: Tulasi Paradarami, Marcell Ortutay</p>
             </div>
           </div>
           <div class="col-md-6" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Phoenix Global Mutable Secondary Indexes - past, present, and future</p>
               <p class="agenda-speakers">Speakers: Vincent Poon</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-6">
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Tulasi Paradarami" />
           </div>
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Marcell Ortutay" />
           </div>
         </div>
         <div class="col-md-6" style="float: right">
           <div class="col-sm-12">
             <img src="img/speakers/VincentPoon.jpeg" alt="Vincent Poon" />
           </div>
         </div>
       </div>
       <hr/>

       <div class="row speaker-text">
           <div class="col-md-6">
             <div class="agenda-box">
               <p class="agenda-title">PhoenixStorageHandler for Hive: Basics, use cases, known limitations, tips &amp; tricks</p>
               <p class="agenda-speakers">Speaker: Sergey Soldatov</p>
             </div>
           </div>
           <div class="col-md-6" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Tuning Apache Phoenix</p>
               <p class="agenda-speakers">Speakers: Anil Gupta, Omkar Nalawade</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-6">
           <div class="col-sm-12">
             <img src="img/speakers/Missing.png" alt="Sergey Soldatov" />
           </div>
         </div>
         <div class="col-md-6" style="float: right">
           <div class="col-sm-6">
             <img src="img/speakers/AnilGupta.png" alt="Anil Gupta" />
           </div>
           <div class="col-sm-6">
             <img src="img/speakers/Missing.png" alt="Omkar Nalawade" />
           </div>
         </div>
       </div>
       <hr/>

       <div class="row speaker-text">
           <div class="col-md-6">
             <div class="agenda-box">
               <p class="agenda-title">Introducing Big-SQL: Apache Ignite + Apache Phoenix on Spring Boot</p>
               <p class="agenda-speakers">Speakers: Anirudha Jadhav, Gabriel Jimenez, Rohit Jhunjhunwala</p>
             </div>
           </div>
           <div class="col-md-6" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Using Python with Phoenix</p>
               <p class="agenda-speakers">Speakers: Josh Elser</p>
               <p class="agenda-title">Phoenix Query Server with Microsoft .Net</p>
               <p class="agenda-speakers">Speakers: Andrew Rewald, Brian Weissler</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-6">
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Anirudha Jadhav" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Gabriel Jimenez" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Rohit Jhunjhunwala" />
           </div>
         </div>
         <div class="col-md-6" style="float: right">
           <div class="col-sm-4">
             <img src="img/speakers/JoshElser.jpg" alt="Josh Elser" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/AndrewRewald.jpg" alt="Andrew Rewald" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Brian Weissler" />
           </div>
         </div>
       </div>
       <hr/>

       <div class="row speaker-text">
           <div class="col-md-6">
             <div class="agenda-box">
               <p class="agenda-title">Omid: scalable and highly available transaction processing for Apache Phoenix</p>
               <p class="agenda-speakers">Speaker: Ohad Shacham, Edward Bortnikov</p>
               <p class="agenda-title">Usage of Phoenix statistics to scale Big Object queries on the Salesforce platform</p>
               <p class="agenda-speakers">Speaker: Sahil Ramrakhyani, Seshank Kalvala</p>
             </div>
           </div>
           <div class="col-md-6" style="float: right">
             <div class="agenda-box">
               <p class="agenda-title">Solving Metadata Management Bottlenecks Now and in the Future</p>
               <p class="agenda-speakers">Speakers: Thomas D'Silva, Rahul Gidwani</p>
               <p class="agenda-title">Persistent Report Results in the Salesforce Platform</p>
               <p class="agenda-speakers">Speakers: Shehzaad Nakhoda</p>
             </div>
           </div>
       </div>
       <div class="row speaker-image-row">
         <div class="col-md-6">
           <div class="col-sm-3">
             <img src="img/speakers/OhadShacham.jpg" alt="Ohad Shacham" />
           </div>
           <div class="col-sm-3">
             <img src="img/speakers/Missing.png" alt="Edward Bortnikov" />
           </div>
           <div class="col-sm-3">
             <img src="img/speakers/Missing.png" alt="Sahil Ramrakhyani" />
           </div>
           <div class="col-sm-3">
             <img src="img/speakers/Missing.png" alt="Seshank Kalvala" />
           </div>
         </div>
         <div class="col-md-6" style="float: right">
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Thomas D'Silva" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Rahul Gidwani" />
           </div>
           <div class="col-sm-4">
             <img src="img/speakers/Missing.png" alt="Shehzaad Nakhoda" />
           </div>
         </div>
       </div>
   </div>
</section>
