<!-- Agenda Section -->
<section class="success" id="cfp">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Call for Proposals</h2>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12 text-center">
               <p>The event's call for proposals is available on on <a href="https://easychair.org/conferences/?conf=hbasecon2018">EasyChair</a>.
               The CFP will be open until 2018/04/16. Please submit your talks as soon as possible!</p>
               <p>When submitting talks, please identify if you are submitting a talk for the HBase track or the Phoenix track. All
                 talks submitted for the HBase track will be reviewed by select members of the Apache HBase project management
                 committee (PMC). The same will be done for talks submitted to the Phoenix track and members of the Apache Phoenix PMC.</p>
           </div>
       </div>
   </div>
</section>
