<!-- Agenda Section -->
<section class="success" id="cfp">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Call for Proposals</h2>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12 text-center">
               <p>The event's call for proposals will be available very soon.</p>
               <p>All talks submitted about HBase will be reviewed by select members of the Apache HBase project management committee (PMC).
                 The same will be done for Phoenix talks and members of the Apache Phoenix PMC.</p>
           </div>
       </div>
   </div>
</section>
