    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/{{site.logo}}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="skills">{{ site.skills }}</span>
                        <p class="skills">Rooms 210 AE and 210 BF</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
