<!-- Sponsors Section -->
<section id="registration">
   <div class="container">
           <div class="pull-right">
               <img class="img-responsive" src="img/jumping-orca_rotated_12percent.png" alt="Apache HBase&trade;" style="float='right'">
           </div>
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Registration</h2>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
             <p>Registration for HBaseCon 2018 is now open! Please use the following page to register: <a href="https://hbasecon2018.hortonworksevents.com/">Register Here</a></p>
             <p>Registration for HBaseCon includes registration to PhoenixCon which is running at concurrently at the same venue.</p>
           </div>
       </div>
   </div>
</section>
