<!-- Sponsors Section -->
<section id="registration">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Registration</h2>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
             <p>Registration for PhoenixCon 2018 is now open! Please use the following page to register: <a href="https://hbasecon2018.hortonworksevents.com/">Register Here</a>.
               Registration for PhoenixCon includes registration to HBaseCon which is running at concurrently at the same venue.</p>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
             <p>For any issues around registration, please use the following contact information, Monday-Friday, 8:00am - 5:00pm PST:
               <ul>
                 <li>Telephone: (800) 380-3544 <em>toll free</em></li>
                 <li>Telephone: (415) 446-7709 <em>international</em></li>
                 <li>Email: <a href="mailto:hbasecon2018@hortonworksevents.com">hbasecon2018@hortonworksevents.com</a></li>
               </ul>
             </p>
           </div>
       </div>
   </div>
</section>
