<!-- Sponsors Section -->
<section id="sponsors">
   <div class="container">
       <div class="row first-row">
           <div class="col-lg-12 text-center">
               <h2>Registration</h2>
           </div>
       </div>
       <div class="row">
           <div class="col-lg-12">
             <p>Registration for the event will be handled through the DataWorks Summit registration system. This is not yet available.
               Presently, the cost for both events is planned to be $200 per individual. This includes meals/snacks throughout the day.</p>
             <p>As an additional benefit, attendees of the event will also have access to a 25% discount on the DataWorks Summit San Jose
               registration fee. More details on this discount will be made available in the future.</p>
           </div>
       </div>
   </div>
</section>
