<!-- Sponsors Section -->
<section id="sponsors">
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2>Sponsors</h2>
           </div>
       </div>
       <div class="row">
           <a href="https://hortonworks.com"><div class="col-md-4">
             <div class="sponsor-row-box">
               <img src="/img/sponsors/hortonworks.svg" alt="Hortonworks"/>
             </div>
           </div></a>
           <a href="https://apache.org"><div class="col-md-4">
             <div class="sponsor-row-box">
               <img src="/img/sponsors/asf.png" alt="Apache Software Foundation" />
             </div>
           </div></a>
           <div class="col-md-4">
             <div class="sponsor-row-box">
               <span>To be announced...</span>
             </div>
           </div>
       </div>
   </div>
</section>
