<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}

    {% include about.html %}
    {% comment %}
    {% include cfp.html %}
    {% endcomment %}

    {% include agenda.html %}
    {% include registration.html %}

    {% include sponsors.html %}
    {% comment %}{% include archives.html %}{% endcomment %}
    {% include contact.html %}
    {% include conduct.html %}

    {% include footer.html %}

    {% include js.html %}
    </body>
</html>
